{%extends 'base.html'%}


{%block content%}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg" style="margin-bottom: 50px;">

{% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
        
            <nav class="col-5">
                <center>
                    {% include 'includes/dashboard_sidebar.html' %}
                </center>
            </nav>


            <main class="col-md-7" >
                <article class="card">

                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Change Password</strong>
                    </header>
                    
                    <div class="card-body">
                        <div class="row"> 
                            <div class="col-md-12">
                                
                                <form action="{%url 'change_password'%}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                
                                    <div class="form-row">
                                        <div class="form-group">
                                            <label for="">Current Password</label>
                                            <input type="password" name="current_password" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="" style="visibility: hidden;">Current</label>
                                            <input type="password" style="visibility: hidden;">
                                        </div>
                                    </div>
                                        
                                    <div class="form-row">
                                        <div class="form-group">
                                            <label for="">New Password</label>
                                            <input type="password" name="new_password" class="form-control">
                                        </div>
                                    
                                        <div class="form-group">
                                            <label for="">Confirm Password</label>
                                            <input type="password" name="confirm_password" class="form-control">
                                        </div>
                                    </div>
                                    <center><input type="submit" name="" value="Save" class="btn btn-primary"></center>
                                </form>
                            
                            </div>
                        </div>
                    </div>
                </article>
            </main>
        </div>
    </div>
</section>
    
    
{%endblock%}