{% load static %}

<!-- Start of .appointments -->
 <section class="appointments" id="departments">
    <div class="appointments__bg">
        <div class="icon">
            <img src="{% static 'base/images/png-shapes/appointments-shape.png' %}">
        </div>
    </div>
    <div class="container">
        <div class="online-appointments">
            <h1 class="section-title">Online Blood Test<br><span>Registration and Results</span></h1>
            <p class="appointments-text">You can now order medical supplements and equipment from our online store</p>
        </div>
        
        <div class="company-numbers">
            
            <div class="company-numbers__item">
                <h2 class="number">150</h2>
                <div class="content">
                    <h3 class="title">Blood Tests</h3>
                    <p class="text">In just this past year, we've conducted 150 blood tests</p>
                </div>
            </div>

            <div class="company-numbers__item">
                <h2 class="number">100%</h2>
                <div class="content">
                    <h3 class="title">Happy Clients</h3>
                    <p class="text">Absolutely all our clients are ready to assure you of the high quality of
                        our services</p>
                </div>
            </div>

        </div>
        
        <a href="#" class="btn btn_blue">Register for Blood Test</a>
        
    </div>
</section>
<!-- End of .appointments -->