{% extends "base.html" %}
{% load static %}


{% block content %}


<!-- Start of .header-bottom-4 -->
<header class="header-bottom-4">
    <img src="{% static 'base/images/LogoPNG.png' %}" width="10px">
    <!-- {% static 'base/images/banner/banner4.jpg' %} -->
    <div class="header-bottom-4__bg">
        <div class="icon">
            <img src="{% static 'base/images/banner/banner-shape.png' %}">
        </div>
    </div>
    <div class="container">
        <h1 class="section-title">About <span>us</span></h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">About Us</li>
        </ol>
    </div>
</header>
<!-- End of .header-bottom-4 -->

<!-- Start of .about-4 -->
<section class="about-4" id="about">
    <div class="latest-news__bg">
        <div class="icon">
            <img src="{% static 'base/images/png-shapes/latest-news__right-bottom-shape.png' %}">
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="video">
                <a class="btn-video-outer" data-fancybox href="https://youtu.be/lM02vNMRRB0">
                    <span class="btn-video">
                        <i class="fa fa-play btn-play"></i>watch video
                    </span>
                </a>
                <div class="img">
                    <img src="./images/jpg/about-html.jpg">
                </div>
            </div>
            <div class="content-right">
                <h4>who we are</h4>
                <h1 class="section-title">Medical center<br><span>in new york</span> </h1>
                <h2>We offer reasonable pricing health care plans, insurance packages to clients.</h2>
                <p>
                    MEDIHELP Medical Center provide patients with choices to ask for the conducting and
                    analyzing of several lab tests on-site at no cost for prioritized patients or at 70% for
                    people with an insurance.
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed
                    ut perspiciatis unde omnis iste natus error sit volu ptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo.
                    <br>
                    <br>
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
                    est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                    numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End of .about-4 -->

<!-- Start of .our-numbers -->
<section class="our-numbers">
    <div class="our-numbers__bg"></div>
    <div class="container">
        <div class="our-numbers__items">
            <div class="item">
                <h1><span class="counter">125</span>+</h1>
                <h4>Certified Great Doctors</h4>
            </div>
            <div class="item">
                <h1><span class="counter">10</span>+</h1>
                <h4>National Awards</h4>
            </div>
            <div class="item">
                <h1><span class="counter">30</span>+</h1>
                <h4>Medical Cervices</h4>
            </div>
            <div class="item">
                <h1><span class="counter">20</span>+</h1>
                <h4>Years of Experience</h4>
            </div>

        </div>
        <div class="our-numbers__img wow fadeInRight" data-wow-duration="1s">
            <img src="./images/jpg/our-numbers.jpg">
        </div>
    </div>
</section>
<!-- End of .our-numbers -->

<!-- Start of .our-numbers -->
<section class="medical-center-2">
    <div class="container">
        <div class="img">
            <img src="./images/jpg/medical-center-2.jpg">
        </div>
        <div class="content">
            <h1 class="section-title">we are the best<br><span>medical center</span></h1>
            <p class="text">Led by the joint care coordinator, our team has been hand-picked for their positive attitudes, motivational skills and a desire to provide outstanding service</p>
            <ul class="list">
                <li><i class="fa fa-check"></i>Free Ambulance Transport</li>
                <li><i class="fa fa-check"></i>Highly Qualified Doctors</li>
                <li><i class="fa fa-check"></i>24×7 Emergency Services</li>
                <li><i class="fa fa-check"></i>FLeading Technology</li>
                <li><i class="fa fa-check"></i>Patient Centered Care</li>
                <li><i class="fa fa-check"></i>Online Service</li>
            </ul>
        </div>

    </div>
</section>
<!-- End of .our-numbers -->

<!-- Start of .specialists -->
<section class="specialists">
    <div class="specialists__bg">
        <div class="icon">
            <img src="./images/png-shapes/specialists__left-bottom-shape.png">
        </div>
    </div>
    <div class="container">
        <h1 class="section-title">Our <span>Doctors</span></h1>
        <h5>Meet our team</h5>
        <div class="specialists__carousel owl-carousel owl-theme">

            <a href="doctors-single_right.html" class="specialists__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/specialist-1.jpg">
                    </div>
                    <h1 class="name">Dr. William Gardner</h1>
                    <h4 class="proffesia">Cardiolog</h4>
                    <ul class="work-date">
                        <li><span>Mon-Thu</span><span>08:00 - 18:00</span></li>
                        <li><span>Friday</span><span>07:00 - 14:00</span></li>
                        <li><span>Saturday</span><span>09:00 - 12:00</span></li>
                    </ul>
                    <span class="btn-2 btn-2_blue">Booking a visit<i class="fa fa-angle-right"></i></span>
                </div>
            </a>

            <a href="doctors-single_right.html" class="specialists__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/specialist-2.jpg">
                    </div>
                    <h1 class="name">Dr. Ann Great</h1>
                    <h4 class="proffesia">Pediatrist</h4>
                    <ul class="work-date">
                        <li><span>Mon-Thu</span><span>08:00 - 18:00</span></li>
                        <li><span>Friday</span><span>07:00 - 14:00</span></li>
                        <li><span>Saturday</span><span>09:00 - 12:00</span></li>
                    </ul>
                    <span class="btn-2 btn-2_blue">Booking a visit<i class="fa fa-angle-right"></i></span>
                </div>
            </a>

            <a href="doctors-single_right.html" class="specialists__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/specialist-3.jpg">
                    </div>
                    <h1 class="name">Dr. John Whatson</h1>
                    <h4 class="proffesia">Neurolog</h4>
                    <ul class="work-date">
                        <li><span>Mon-Thu</span><span>08:00 - 18:00</span></li>
                        <li><span>Friday</span><span>07:00 - 14:00</span></li>
                        <li><span>Saturday</span><span>09:00 - 12:00</span></li>
                    </ul>
                    <span class="btn-2 btn-2_blue">Booking a visit<i class="fa fa-angle-right"></i></span>
                </div>
            </a>

            <a href="doctors-single_right.html" class="specialists__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/specialist-4.jpg">
                    </div>
                    <h1 class="name">Dr. Julia Roberts</h1>
                    <h4 class="proffesia">Cardiolog</h4>
                    <ul class="work-date">
                        <li><span>Mon-Thu</span><span>08:00 - 18:00</span></li>
                        <li><span>Friday</span><span>07:00 - 14:00</span></li>
                        <li><span>Saturday</span><span>09:00 - 12:00</span></li>
                    </ul>
                    <span class="btn-2 btn-2_blue">Booking a visit<i class="fa fa-angle-right"></i></span>
                </div>
            </a>
            <a href="doctors-single_right.html" class="specialists__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/specialist-1.jpg">
                    </div>
                    <h1 class="name">Dr. William Gardner</h1>
                    <h4 class="proffesia">Cardiolog</h4>
                    <ul class="work-date">
                        <li><span>Mon-Thu</span><span>08:00 - 18:00</span></li>
                        <li><span>Friday</span><span>07:00 - 14:00</span></li>
                        <li><span>Saturday</span><span>09:00 - 12:00</span></li>
                    </ul>
                    <span class="btn-2 btn-2_blue">Booking a visit<i class="fa fa-angle-right"></i></span>
                </div>
            </a>

            <a href="doctors-single_right.html" class="specialists__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/specialist-2.jpg">
                    </div>
                    <h1 class="name">Dr. Ann Great</h1>
                    <h4 class="proffesia">Pediatrist</h4>
                    <ul class="work-date">
                        <li><span>Mon-Thu</span><span>08:00 - 18:00</span></li>
                        <li><span>Friday</span><span>07:00 - 14:00</span></li>
                        <li><span>Saturday</span><span>09:00 - 12:00</span></li>
                    </ul>
                    <span class="btn-2 btn-2_blue">Booking a visit<i class="fa fa-angle-right"></i></span>
                </div>
            </a>

            <a href="doctors-single_right.html" class="specialists__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/specialist-3.jpg">
                    </div>
                    <h1 class="name">Dr. John Whatson</h1>
                    <h4 class="proffesia">Neurolog</h4>
                    <ul class="work-date">
                        <li><span>Mon-Thu</span><span>08:00 - 18:00</span></li>
                        <li><span>Friday</span><span>07:00 - 14:00</span></li>
                        <li><span>Saturday</span><span>09:00 - 12:00</span></li>
                    </ul>
                    <span class="btn-2 btn-2_blue">Booking a visit<i class="fa fa-angle-right"></i></span>
                </div>
            </a>

            <a href="doctors-single_right.html" class="specialists__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/specialist-4.jpg">
                    </div>
                    <h1 class="name">Dr. Julia Roberts</h1>
                    <h4 class="proffesia">Cardiolog</h4>
                    <ul class="work-date">
                        <li><span>Mon-Thu</span><span>08:00 - 18:00</span></li>
                        <li><span>Friday</span><span>07:00 - 14:00</span></li>
                        <li><span>Saturday</span><span>09:00 - 12:00</span></li>
                    </ul>
                    <span class="btn-2 btn-2_blue">Booking a visit<i class="fa fa-angle-right"></i></span>
                </div>
            </a>
            <a href="doctors-single_right.html" class="specialists__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/specialist-1.jpg">
                    </div>
                    <h1 class="name">Dr. William Gardner</h1>
                    <h4 class="proffesia">Cardiolog</h4>
                    <ul class="work-date">
                        <li><span>Mon-Thu</span><span>08:00 - 18:00</span></li>
                        <li><span>Friday</span><span>07:00 - 14:00</span></li>
                        <li><span>Saturday</span><span>09:00 - 12:00</span></li>
                    </ul>
                    <span class="btn-2 btn-2_blue">Booking a visit<i class="fa fa-angle-right"></i></span>
                </div>
            </a>

            <a href="doctors-single_right.html" class="specialists__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/specialist-2.jpg">
                    </div>
                    <h1 class="name">Dr. Ann Great</h1>
                    <h4 class="proffesia">Pediatrist</h4>
                    <ul class="work-date">
                        <li><span>Mon-Thu</span><span>08:00 - 18:00</span></li>
                        <li><span>Friday</span><span>07:00 - 14:00</span></li>
                        <li><span>Saturday</span><span>09:00 - 12:00</span></li>
                    </ul>
                    <span class="btn-2 btn-2_blue">Booking a visit<i class="fa fa-angle-right"></i></span>
                </div>
            </a>

            <a href="doctors-single_right.html" class="specialists__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/specialist-3.jpg">
                    </div>
                    <h1 class="name">Dr. John Whatson</h1>
                    <h4 class="proffesia">Neurolog</h4>
                    <ul class="work-date">
                        <li><span>Mon-Thu</span><span>08:00 - 18:00</span></li>
                        <li><span>Friday</span><span>07:00 - 14:00</span></li>
                        <li><span>Saturday</span><span>09:00 - 12:00</span></li>
                    </ul>
                    <span class="btn-2 btn-2_blue">Booking a visit<i class="fa fa-angle-right"></i></span>
                </div>
            </a>

            <a href="doctors-single_right.html" class="specialists__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/specialist-4.jpg">
                    </div>
                    <h1 class="name">Dr. Julia Roberts</h1>
                    <h4 class="proffesia">Cardiolog</h4>
                    <ul class="work-date">
                        <li><span>Mon-Thu</span><span>08:00 - 18:00</span></li>
                        <li><span>Friday</span><span>07:00 - 14:00</span></li>
                        <li><span>Saturday</span><span>09:00 - 12:00</span></li>
                    </ul>
                    <span class="btn-2 btn-2_blue">Booking a visit<i class="fa fa-angle-right"></i></span>
                </div>
            </a>
            <a href="doctors-single_right.html" class="specialists__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/specialist-1.jpg">
                    </div>
                    <h1 class="name">Dr. William Gardner</h1>
                    <h4 class="proffesia">Cardiolog</h4>
                    <ul class="work-date">
                        <li><span>Mon-Thu</span><span>08:00 - 18:00</span></li>
                        <li><span>Friday</span><span>07:00 - 14:00</span></li>
                        <li><span>Saturday</span><span>09:00 - 12:00</span></li>
                    </ul>
                    <span class="btn-2 btn-2_blue">Booking a visit<i class="fa fa-angle-right"></i></span>
                </div>
            </a>

            <a href="doctors-single_right.html" class="specialists__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/specialist-2.jpg">
                    </div>
                    <h1 class="name">Dr. Ann Great</h1>
                    <h4 class="proffesia">Pediatrist</h4>
                    <ul class="work-date">
                        <li><span>Mon-Thu</span><span>08:00 - 18:00</span></li>
                        <li><span>Friday</span><span>07:00 - 14:00</span></li>
                        <li><span>Saturday</span><span>09:00 - 12:00</span></li>
                    </ul>
                    <span class="btn-2 btn-2_blue">Booking a visit<i class="fa fa-angle-right"></i></span>
                </div>
            </a>

            <a href="doctors-single_right.html" class="specialists__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/specialist-3.jpg">
                    </div>
                    <h1 class="name">Dr. John Whatson</h1>
                    <h4 class="proffesia">Neurolog</h4>
                    <ul class="work-date">
                        <li><span>Mon-Thu</span><span>08:00 - 18:00</span></li>
                        <li><span>Friday</span><span>07:00 - 14:00</span></li>
                        <li><span>Saturday</span><span>09:00 - 12:00</span></li>
                    </ul>
                    <span class="btn-2 btn-2_blue">Booking a visit<i class="fa fa-angle-right"></i></span>
                </div>
            </a>

            <a href="doctors-single_right.html" class="specialists__item">
                <div class="inner-block">
                    <div class="img">
                        <img src="./images/jpg/specialist-4.jpg">
                    </div>
                    <h1 class="name">Dr. Julia Roberts</h1>
                    <h4 class="proffesia">Cardiolog</h4>
                    <ul class="work-date">
                        <li><span>Mon-Thu</span><span>08:00 - 18:00</span></li>
                        <li><span>Friday</span><span>07:00 - 14:00</span></li>
                        <li><span>Saturday</span><span>09:00 - 12:00</span></li>
                    </ul>
                    <span class="btn-2 btn-2_blue">Booking a visit<i class="fa fa-angle-right"></i></span>
                </div>
            </a>

        </div>
    </div>
</section>
<!-- End of .specialists -->

<!-- Start of .header-top -->
{%include 'includes/landing/servicesSummaryFooter.html'%} 
<!-- End of .header-top -->

<!-- Start of .from -->
<section class="form">
    <div class="container">
        <div class="form__block">
            <h1 class="section-title">Looking for<br><span>a Certified Doctor?</span></h1>
            <p class="subtitle">We believe in providing the best possible care to all our existing patients and
                welcome new patients to sample</p>
            <form action="test.html" method="POST">
                <input class="form__block-input" type="text" placeholder="Your Name*">
                <select class="form__block-input">
                    <option selected>Choose department</option>
                    <option>Choose department2</option>
                    <option>Choose department3</option>
                    <option>Choose department4</option>
                </select>
                <input class="form__block-input" type="text" placeholder="+1 123 465 78 99">
                <input class="form__block-input" type="text" placeholder="Email*">
                <textarea placeholder="Message"></textarea>
                <button type="submit" class="btn btn_blue">SEND REQUEST</button>
                <label>* Personal data will be encrypted</label>
            </form>
        </div>
    </div>
    <div class="form__bg">
        <div class="circle-blue"></div>
        <div class="circle-pink"></div>
        <img src="./images/png/doctor.png">
        <div class="icon">
            <img src="./images/png-shapes/form-shape.png">
        </div>
    </div>
</section>
<!-- End of .from -->

 


{% endblock content %}