{%extends 'base.html'%}
{% load static %}



{%block content%}

    <!-- Start of .header-top -->
    {%include 'includes/landing/mainCarousel.html'%} 
    <!-- End of .header-top -->
    
    <!-- Start of .header-top -->
    {%include 'includes/landing/services.html'%} 
    <!-- End of .header-top -->
    
    <!-- Start of .header-top -->
    {%include 'includes/landing/aboutUs.html'%} 
    <!-- End of .header-top -->

    <!-- Start of .header-top -->
    {%include 'includes/landing/bloodTestStats.html'%} 
    <!-- End of .header-top -->

    <!-- Start of .header-top -->
    {%include 'includes/landing/servicesCards.html'%} 
    <!-- End of .header-top -->

    <!-- Start of .header-top -->
    {%include 'includes/landing/servicesSummaryFooter.html'%} 
    <!-- End of .header-top -->


{%endblock%}